<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/aadhaar/createHealthIdWithPreVerified/?txn_id=<%= txn_id %>&token=<%= token %>" method="POST">
        <!-- Health Id:
        <input type="text" name="health_id">
        <br> -->
        Verify Email:
        <!-- <input type="text" name="email">
        <br>
        First Name: 
        <input type="text" name="first_name">
        <br>
        Last Name: 
        <input type="text" name="last_name">
        <br>
        Password:
        <input type="password" name="password"> -->
        <hr>
        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>