<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/aadhaar/createHealthIdWithPreVerified" method="POST">
        Aadhaar Number:
        <input type="text" name="aadhaar_number">
        <br>
        Email: 
        <input type="email" name="email">
        <br>
        First Name: 
        <input type="text" name="first_name">
        <br>
        Last Name: 
        <input type="text" name="last_name">
        <br>
        Password: 
        <input type="password" name="password">
        <hr>
        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>