<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>HOME PAGE</h1>
    <hr>
    <form action="/users/createAbha" method="POST">
        <button type="submit">
            Registration for Abha(Health ID)
        </button>
    </form>
    <hr>
    <form action="/users/loginAbha" method="POST">
        <button type="submit">
            Login to Abha Account
        </button>
    </form>
    </form>
</body>
</html>