<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h1>LOGIN PAGE</h1>
    <hr>
    <form action="/login/aadhaarOtp" method="POST">
        ABHA number: 
        <input type="text" name="abha_number">
        <br>
        AADHAAR number:
        <input type="text" name="aadhaar_number">
        <br><br>
        <button type="submit">
            Login using Aadhaar OTP
        </button>
    </form>
    <hr>
    <form action="/login/mobileOtp" method="POST">
        ABHA number: 
        <input type="text" name="abha_number">
        <br>
        MOBILE number:
        <input type="text" name="mobile_number">
        <br><br>
        <button type="submit">
            Login using Mobile OTP
        </button>
    </form>
    </form>
</body>
</html>