/* profile page of student */
#outer-container {
    color: black;
    #profile-container {
        display: block;
        padding: 15px;
        background-color: rgba(247, 243, 239, 0.603);
        
        h1 {
            background-color: rgba(250, 198, 179, 0.61);
            font-size: 4rem;
            font-weight: 700;
            padding: 4px;
            border-radius: 15px;
            text-align: center;
        }
        h1, h2 {
            display: block;
        }
        h2 {
            span {
                padding: 2px;
                background-color: rgba(250, 234, 203, 0.664);
            }
        }
    }
}