<script src="/js/external_jobs.js"></script>
<h2>SEARCH EXTERNAL JOBS</h2>
<form action="">
    <input type="text" name="searchBox" id="searchBox" placeholder="Enter job title..." required>
    <input type="submit" id="search" name="search" value="SEARCH">
</form>
<br>
<hr>
<div id="job-container">
    <h2>AVAILABLE JOBS</h2>
</div>

<script src="/js/external_jobs.js"></script>