<!-- sign in page for employees  -->

<div id="outer-container">
    <div id="login-box">
        <h2>Sign In</h2>
        <form action="/users/create-session" method="POST">
            <p>Email :</p>
            <input type="email" name="email" id="email" required>
            <hr>
            <p>Password :</p>
            <input type="password" name="password" id="password" required>
            <hr>
            <p>
                <a href="/users/ask-email">forgot password?</a>
            </p>
            <button type="submit"><b>Sign In</b></button>
        </form>
        <hr>

        <!-- google authentication  -->
        <p id="google-login">
            <a href="/users/auth/google">
                <img src="https://sprintupsc.com/static/assets/css/goog.png" alt="SIGN IN WITH GOOGLE">
            </a>
        </p>
    </div>
</div>