body, html {
  height: 100%; }

input {
  width: 50%;
  overflow: auto; }

.text-underline {
  text-decoration: underline; }

#oops {
  font-size: 100px; }

#outer-container {
  margin: 0px;
  padding: 0px;
  color: black;
  height: 100%; }
  #outer-container #student-container {
    display: inline-block;
    padding-top: 0px;
    width: 45%;
    height: 100%;
    text-align: center;
    border-right: 1px solid black; }
    #outer-container #student-container h2 {
      margin: 0px;
      padding: 4px;
      width: 100%;
      background-color: rgba(0, 102, 255, 0.548); }
    #outer-container #student-container .card {
      width: 80% !important;
      overflow: auto;
      margin: auto;
      text-align: center; }
      #outer-container #student-container .card .profile-link {
        width: 80% !important;
        overflow: auto; }
      #outer-container #student-container .card .card-title {
        font-weight: 700;
        font-size: 30px;
        padding: 4px; }
  #outer-container #interview-container {
    display: inline-block;
    padding-top: 0px;
    width: 45%;
    height: 100%;
    text-align: center;
    border-right: 1px solid black; }
    #outer-container #interview-container h2 {
      margin: 0px;
      padding: 4px;
      width: 100%;
      background-color: rgba(0, 102, 255, 0.548); }
    #outer-container #interview-container .name-link {
      text-align: center;
      background-color: rgba(250, 229, 201, 0.836);
      text-decoration: underline;
      width: 80%;
      overflow: auto; }
    #outer-container #interview-container .card {
      width: 80% !important;
      overflow: auto;
      margin: auto;
      text-align: center; }
      #outer-container #interview-container .card input {
        border: 0px;
        border-radius: 5px;
        width: 75%; }
      #outer-container #interview-container .card .card-title {
        text-align: center;
        font-weight: 700;
        font-size: 30px;
        background-color: #f8f8f1;
        padding: 4px; }
  #outer-container #extra-links {
    padding: 10px;
    width: 20%;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.726);
    height: 100%;
    overflow: auto; }
    #outer-container #extra-links input {
      width: 80%;
      overflow: auto; }
  #outer-container .delete-button {
    width: 40px;
    height: 40px; }
    #outer-container .delete-button img {
      width: 40px;
      height: 40px; }

#csv-box {
  border: 1px solid red;
  text-align: center; }
