.text-underline {
  text-decoration: underline; }

#outer-container {
  color: black;
  height: 100%;
  width: 100%; }
  #outer-container div {
    display: block; }
  #outer-container #profile-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 100%;
    justify-content: space-around;
    background-color: rgba(247, 243, 239, 0.603); }
    #outer-container #profile-container #profile-image {
      width: 40%;
      height: 50%;
      margin-top: 5%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center; }
      #outer-container #profile-container #profile-image img {
        width: 80%;
        height: 100%;
        border-radius: 10%; }
    #outer-container #profile-container #student-data {
      border-left: 2px solid white;
      display: inline-block;
      padding-left: 25px; }
      #outer-container #profile-container #student-data h2 {
        padding: 10px;
        background-color: aliceblue;
        border-radius: 15px;
        color: brown;
        font-style: italic; }
    #outer-container #profile-container h2 span {
      padding: 2px; }
    #outer-container #profile-container table {
      overflow: hidden;
      border-radius: 15px;
      background-color: aliceblue; }
      #outer-container #profile-container table td {
        padding: 5px; }
    #outer-container #profile-container #subject-scores {
      padding: 5px;
      background-color: aliceblue;
      border-radius: 15px; }
      #outer-container #profile-container #subject-scores h4 {
        text-align: center; }

#student-interview-data {
  color: black; }
  #student-interview-data ul {
    padding: 0px; }
  #student-interview-data .card {
    padding: 10px; }

.circle-box-green {
  background-color: rgba(214, 250, 214, 0.418);
  padding: 2px;
  border-radius: 10px; }

.circle-box-grey {
  background-color: rgba(131, 133, 131, 0.712);
  padding: 6px;
  border-radius: 10px; }

.text-bold {
  font-weight: 700; }
