<div id="outer-container">
    <div id="login-box">
        <h2 class="text-center">ADD STUDENT DETAILS</h2>
        <form action="/students/add-student" method="POST">
            <p>Name :</p>
            <input type="text" name="name" id="name" required>
            <hr>
            <p>Email :</p>
            <input type="email" name="email" id="email" required>
            <hr>
            <p>Batch :</p>
            <input type="text" name="batch" id="batch" required>
            <hr>
            <p>College :</p>
            <input type="text" name="college" id="college" required>
            <hr>
            <p>Placement status :</p>
            <select name="status" id="status">
                <option value="placed" selected>PLACED</option>
                <option value="not placed">NOT PLACED</option>
            </select>
            <hr>
            <p>DSA score :</p>
            <input type="text" name="dsa_score" id="dsa_score" required>
            <hr>
            <p>WebD score :</p>
            <input type="text" name="webd_score" id="webd_score" required>
            <hr>
            <p>React score :</p>
            <input type="text" name="react_score" id="react_score" required>
            <hr>
            <button type="submit"><b>ADD STUDENT</b></button>
        </form>
    </div>
</div>